header{
    width: 100%;
    height: 92px;
    background: #cf2b2b;
    padding-left: 21px;
    padding-top: 8px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 8px 5px gray;
}
header h1{
    font-style: normal;
    font-size: 44px;
    font-weight: normal;
    color:#ffffff;
    font-family: 'Righteous', cursive;
    line-height: 55px;
    margin-bottom: -5px;
    /*font-family: 'Encode Sans', sans-serif;
    font-family: 'Righteous', cursive;*/
}
header p{
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    line-height: 21px;
    /*font-family: 'Encode Sans', sans-serif;
    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;*/
}
.section{
    margin-top: 126px;
    background: plum;
    height: 259px;
    width: 100%;
    padding-left: 21px;
}
.titulo{
    width: 250px;
    height: 25px;
    background: royalblue;
    margin-bottom: 17px;
}
.opcoes{
    width: 100%;
    background: chocolate;
    display: flex;
    gap: 16px;
    overflow-x: scroll;
}
.opcao{
    width: 172px;
    height: 216px;
    background: red;
}